h1.minombre{font-size: 22px;}
h2.minombre {font-size: 16px;}
.home .btn {font-size:14px}
.equipo h2, .col2 h2,.mentalidad h2, .emojis h2, .test h2 {font-size: 20px;}
.slider .quote {font-size: 13px}
.slider .source {font-size: 11px;}
.largy, .midy{font-size: .95em;}
.mini {font-size:.72em}
.website1 span, .website2 span, .website3 span {font-size:17px}
